doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Sweet Carolina Finds

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='/#page-top')
                    img(src='assets/img/navbar-logo.svg', alt='Sweet Carolina Finds')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='/#products') Product Categories
                        li.nav-item
                            a.nav-link(href='/#about') About
                        li.nav-item
                            a.nav-link(href='/#footer') Contact
        // Masthead
        header.masthead.masthead-small
            .container
                .masthead-subheading SWEET CAROLINA FINDS
                .masthead-heading.text-uppercase Privacy Policy

        // Product Categories
        section#privacy.page-section
            .container
                h2.section-heading.text-uppercase Information We Collect
                p(class='text-muted' style='font-size: 18px') Carolina Solutions Group, LLC, dba, Sweet Carolina Finds (Company) uses your personal information to provide you with the superior service you expect from us. Company may collect public and nonpublic personal information about you from any of the following sources:
                p(class='text-muted' style='font-size: 18px') Information from forms you provide to us in connection with your accounts (such as your name, address, birth date, social security number, assets, and income);
                p(class='text-muted' style='font-size: 18px') Information about the accounts that Company manages or monitors on your behalf (such as trading history and account balances);
                p(class='text-muted' style='font-size: 18px') Information obtained through discussions with you about your accounts or inquiries made by you regarding your accounts (such as portfolio risk profiles, income needs, and account set-up preferences);
                p(class='text-muted' style='font-size: 18px') Information obtained from other sources with your consent (for example, from other institutions if you are transferring assets to be managed by Company).
                h2.section-heading.text-uppercase Use of Personal Information
                p(class='text-muted' style='font-size: 18px') Company has always considered the protection of sensitive information to be a foundation of customer trust and an important business practice. We do not sell your personal information to anyone. We do not disclose or share nonpublic personal information about you to third parties, unless one of the following limited exceptions applies or you have specifically asked us to do so:
                p(class='text-muted' style='font-size: 18px') We disclose personal information to custodial companies that help us process or service your transactions or account(s) when necessary;
                p(class='text-muted' style='font-size: 18px') We may disclose or report personal information in limited circumstances where we believe in good faith that disclosure is required or permitted under law, for example, to cooperate with regulators or law enforcement authorities.
                p(class='text-muted' style='font-size: 18px') Company restricts access to your personal and account information to those employees who need to know that information in order to provide services to you. We maintain physical, electronic, and procedural safeguards to guard your nonpublic personal information.
                h2.section-heading.text-uppercase Phishing Scams
                p(class='text-muted' style='font-size: 18px') Company does not send emails to customers requesting billing, login or password information. If you receive an email purporting to be from Company that asks you to provide personal or account information, or login and passwords, do not provide such information unless you have first verified that the website or email is from Company. Such emails may be fraudulent and used in connection with scams known as phishing. Company asks that you report any suspicious emails or websites to Company.
                h3.section-heading.text-uppercase Changes to Our Privacy Policy
                p(class='text-muted' style='font-size: 18px') We reserve the right to change our privacy policy in the future but we will not disclose your nonpublic personal information, except as described here or required by law, without giving you an opportunity to instruct us not to.
                h3.section-heading.text-uppercase Policy Adherence and Opt Out
                p(class='text-muted' style='font-size: 18px') If you decide in the future either to close your account(s) or to become an inactive client, we will continue to adhere to the privacy policies and practices described in this notice.
                h3.section-heading.text-uppercase  Web Server Data Collection
                p(class='text-muted' style='font-size: 18px') In general Company‘s web servers collect domain names and/or IP addresses of users to measure what pages and features are accessed by our visitors. This information helps us administer the site, improve content and gather broad demographic information for aggregate use.
                p(class='text-muted' style='font-size: 18px') Company may use “cookies” or similar files or scripts throughout its website to enhance your convenience in using our websites, to improve search functionality or to hold information that you would otherwise need to re-key. “Cookies” are text files collected by a user’s web browser. If you do not wish to accept “cookies” from our website, you may configure your web browser so that it does not accept “cookies”; however, you may lose certain functions available on our website. For a more detailed explanation, please see “Automatically-collected Information” below.
                h2.section-heading.text-uppercase Automatically-Collected Information
                h3.section-heading.text-uppercase Device/usage information
                p(class='text-muted' style='font-size: 18px') We may automatically collect certain information about the computer or devices (including mobile devices) you use to access our website, sweetcarolinafinds.com (“the Services”) . For example, we may collect and analyze information such as (a) IP addresses, geolocation information (as described in the next section below), unique device identifiers and other information about your mobile phone or other mobile device(s), browser types, browser language, operating system, the state or country from which you accessed the Services; and (b) information related to the ways in which you interact with the Services, such as: referring and exit pages and URLs, platform type, the number of clicks, domain names, landing pages, pages and content viewed and the order of those pages, the amount of time spent on particular pages, the date and time you used the Services, the frequency of your use of the Services, error logs, and other similar information. As described further below, we may use third-party analytics providers and technologies, including cookies and similar tools, to assist in collecting this information.
                p(class='text-muted' style='font-size: 18px') We may also capture other data, such as search criteria and results. In some cases, we will associate this information with a unique Company identifier (that is not intended to be used by itself to identify you) for our internal use, in which case your Company identifier will be considered Company information and nothing in this Privacy Policy restricts how Company may use this information.
                h3.section-heading.text-uppercase Location Information
                p(class='text-muted' style='font-size: 18px') We may collect different types of information about your location, including general information (e.g., IP address, zip code) and more specific information (e.g., GPS-based functionality on mobile devices used to access the Services), and may use that information to customize the Services with location-based information, advertising, and features. For example, if your IP address indicates an origin in Detroit, the Services may be customized with Detroit-specific information and advertisements. In order to do this, your location information may be shared with our agents, vendors or advertisers. If you access the Services through a mobile device and you do not want your device to provide us with location-tracking information, you can disable the GPS or other location-tracking functions on your device, provided your device allows you to do this. See your device manufacturer’s instructions for further details.
                h3.section-heading.text-uppercase Cookies and other electronic technologies
                p(class='text-muted' style='font-size: 18px') When you use the Services, we use persistent and session cookies and other similar tracking technologies to: (a) analyze the usage of our sites and Services by collecting the information discussed above; (b) customize the Services to your preferences; and (c) control the advertising displayed by the Services, as well as advertisements that may be displayed on other websites or mobile applications. The cookies may reflect de-identified data linked to or derived from data you voluntarily have submitted to us, e.g., a hashed version of your email address that we may share with service providers, solely in non-human readable form. We and our vendors may also use other Internet technologies, such as Flash technologies, Web beacons or pixel tags, and other similar technologies, to deliver or communicate with cookies and track your use of the Services, as well as serve you ads when you are on other websites or the Internet when those cookies can be accessed. We also may include Web beacons in e-mail messages or newsletters to determine whether the message has been opened and for other analytics. As we adopt additional technologies, we may also gather additional information through other methods.
                p(class='text-muted' style='font-size: 18px') Most browsers automatically accept cookies, but you can modify your browser setting to decline cookies by visiting the Help portion of your browser’s toolbar. If you choose to decline cookies, please note that you may not be able to sign in, customize, or use some of the interactive features of the Services. Flash cookies operate differently than browser cookies, and cookie management tools available in a web browser will not remove flash cookies. To learn more about how to manage flash cookies, you can visit the Adobe website and make changes at the Global Privacy Settings Panel.
                h3.section-heading.text-uppercase Online analytics
                p(class='text-muted' style='font-size: 18px')
                    | We may use third-party web analytics services on our Services, such as those of Google Analytics. These service providers use the sort of technology described above to help us analyze how users use the Services, including by noting the third-party website from which you arrive. The information (including your IP address) collected by the technology will be disclosed to or collected directly by these service providers, who use the information to evaluate your use of the Services. We also use Google Analytics for certain purposes related to advertising, as described in the following section. To prevent Google Analytics from using your information for analytics, you may install the Google Analytics Opt-out Browser Add-on by
                    a(href='https://tools.google.com/dlpage/gaoptout') clicking here.
        // Footer
        footer.footer.py-4(id='footer')
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Carolina Solutions Group, LLC 2023
                    .col-lg-4.my-3.my-lg-0.social-buttons
                        //a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Instagram')
                        //    i.fab.fa-instagram
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.pinterest.com/sweetcarolinafinds/', aria-label='Pinterest')
                            i.fab.fa-pinterest
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/SweetCarolinaFinds/', aria-label='Facebook')
                            i.fab.fa-facebook-f
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='mailto:info@sweetcarolinafinds.com') info@sweetcarolinafinds.com
                        a.link-dark.text-decoration-none.me-3(href='/privacy-policy.html') Privacy Policy

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
